<header class="bar-title">
   <h1 class="title">Fertilizer Master</h1>
  </header>
  <form role="form">
    <div class="form-group">
   <label for="exampleInputEmail1">Fertilizer Name</label>
   <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fertilizer Name">
    </div>
    <div class="form-group">
   <label for="exampleInputPassword1">Fertilizer Type</label>
   <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Fertilizer Type">
    </div>
    <div class="btn">
     <button type="submit" class="btn btn-primary">Save</button>
     <button type="submit" class="btn btn-default">Cancel</button>
    </div>
  </form>