<header class="bar-title">
   <h1 class="title">Spray Management</h1>
  </header>
  <form role="form">
    <div class="form-group">
   <label for="exampleOrchidName">Orchid Name</label>
   <input type="email" class="form-control" id="exampleOrchidName" placeholder="Orchid Name">
    </div>
    <div class="form-group">
   <label for="exampleSpray Date">Spray Date</label>
   <input type="password" class="form-control" id="exampleSprayDate" placeholder="Spray Date">
    </div>
	<div class="form-group">
   <label for="exampleFertilizerName">Fertilizer Name</label>
   <input type="password" class="form-control" id="exampleFertilizerName" placeholder="Fertilizer Name">
    </div>
	<div class="form-group">
   <label for="exampleQuantity">Quantity</label>
   <input type="password" class="form-control" id="exampleQuantity" placeholder="Quantity">
    </div>
	<div class="form-group">
   <label for="exampleUOM">UOM</label>
   <input type="password" class="form-control" id="exampleUOM" placeholder="UOM">
    </div>
	<div class="form-group">
   <label for="examplePrice">Price</label>
   <input type="password" class="form-control" id="examplePrice" placeholder="Price">
    </div>
	<div class="form-group">
   <label for="exampleLineTotal">Line Total</label>
   <input type="password" class="form-control" id="exampleLineTotal" placeholder="Line Total">
    </div>
	<div class="form-group">
   <label for="exampleTotalCost">Total Cost</label>
   <input type="password" class="form-control" id="exampleTotalCost" placeholder="Total Cost">
    </div>
    <div class="btn">
     <button type="submit" class="btn btn-primary">Save</button>
     <button type="submit" class="btn btn-default">Cancel</button>
	  <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>